*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: rgba(10, 6, 59, 0.80);
    color: #ccc;
    font-family: 'Kanit', sans-serif;
}

/* h1{
    margin: 0 4px;
    font-size: 2.2rem;
    padding: 10px;
    text-align: center;
    font:bolder ;
    /* font-family: sans-serif; */
    /* background-color: rgb(119, 10, 158);
    border-bottom: 1.5px solid #ccc;
} */ 
h3{
    font-size: larger;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    margin: 4px;
    padding: 0 8px;
    background-color: #3e105e;
    color: white;
    height: 50px;
    border-bottom: 1.5px solid #ccc;
    
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    /* font-family: sans-serif; */
    width: 16.66%;
    text-align: center;
    padding-top: 13px;
}
.flex-column{
    display:flex;
    flex-direction: row-reverse;
    height: 590px;
    justify-content: space-between;
    align-content: stretch;
    padding: 5px;
}
.details{
    width: 40%;
    margin: 15px auto;
    align-content: center;
    border: 2px solid rgb(174, 156, 122);
    text-align: center;
    border-radius: 40px;
    padding: 10px;
}
.income-expense{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid rgb(174, 156, 122);
    margin: 5px 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 15px;
}

#income-toggle, #expense-toggle, #dropdown, #save, #clear{
    cursor: pointer;
}

#amt_title{
    cursor: default;
}
.inputs{
    margin: 15px;
    display: flex;
    justify-content: center;
}
#category{
    text-decoration: none;
}

.dropcontent{
    display: none;
    padding: 5px;
}

.dropcontent li{
    list-style:  none;
    padding: 5px;

}
.show{
    display: flex;
    flex-direction: column;
}
.highlighted{
    color: black;
    background-color: #ccc;
    padding: 5px;
    transform: translateY(-5px);
    border-radius: 10px;
}
.hide{
    display: none;
}
.amt{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.amt input{
    width: 400px;
    height: 35px;
    font-size: 25px;
}

.save, .clear{
    width: 200px;
    margin-top: 25px;
    text-decoration: none;
    border: 2px solid rgb(161, 161, 161);
    padding: 5px;
    background-color: rgb(233, 243, 46);
    color: rgb(0, 0, 0);
    border-radius: 8px;
}
.clear{
    width: 100px;
    border-radius: 10px;
    background-color: rgb(193, 45, 19);
    color: white;
}
#storage-table{
    margin: 15px auto;
    padding: 5px;
    width: 70%;
    text-align: center;
    align-items: center;
}
table{
    width: 90%;
    font-size: large;
}
th{
    background-color: #3a04fc9c;
    color: rgb(255, 249, 249);
    height: 40px;
}
th , td{
    width: 250px;
}
#storage-table table , th , td{
    margin: auto;
    table-layout: auto;
    border: 2px solid rgb(174, 156, 122);
    border-collapse: collapse;
}
.recordtable{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.delete-button{
    width: 70px;
    margin: 5px;
    text-decoration: none;
    border: 2px solid  rgb(161, 161, 161);
    border-radius: 5px;
    padding: 5px;
    background-color: tomato;
    color: rgb(255,255, 255);
}
/* for trail */
.grid {
    display: flex;
    flex-wrap: wrap;
    cursor:none;
    margin:0px;
    
    overflow : hidden;
    gap : 0 px;
    background-color: #270d3b;
    width: 100%;
    height: 100px;
    /* cursor: url(Media/flash.png), default; */

    
    /* z-index: 5; */
   
   
  }
  
  .grid_item {
    display: inline-flex;
    height: 10px;
    width: 10px;
    background-color:rgb(82, 231, 236);
    opacity: 0;
    transition: opacity 2s ease 0.4s, transform 0.8s ease;
    transform: scale(1);
    
    margin: 0px;
    padding:0px;
    
  }
  
  .grid_item:hover {
    opacity: 1;
    transition: opacity 0.1s ease;
    transform: scale(3);
  }
  
  /* Global Styles */
  /* body {
    display: flex;
    justify-content: center;
  } */
  
  .text{
    
    right: 400px;
    top: 200px;
    z-index: 10;
  }


  #main-title{
    /* color: rgb(35, 45, 152) */
    z-index: 5;
    position: absolute;
     left:40%;
    
    padding: 0cap;
    margin: 0cap;
    align-self: center;
  }